@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fitness App</h1>
    <a asp-controller="Exercise" asp-action="AddRoutine">Add Routine</a>
    <a asp-controller="Exercise" asp-action="ViewExercises">View History</a>
</div>
